body {
    background-color: black;
}

div.socials {
    color: white;
    position: absolute;
    top: 30%;
    left: 30%;
    margin-right: -50%;
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}